*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 1.5rem
}

body{
  margin : 0;
  padding: 0;
  background-color:#D8BFD8;
  font-family: sans-serif ;
}

.bg-img{
  position: absolute ;
  background-image: url('/Images/images.jpeg');
  width: 100%;
  background-size: cover;
  background-repeat : no-repeat;
    
}
.holder {
  width: 100%;
  display: flex;
  flex-direction :column ;
  align-items :center  ;
  justify-content :center;
  
}
.para {
  font-size: 26px;
  padding : 0 100px;
}